if SHIELD_SF32LB52_SPLIT_TEST_LEFT

config ZMK_KEYBOARD_NAME
	default "SF32LB52 Split"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_STUDIO
	default y

endif

if SHIELD_SF32LB52_SPLIT_TEST_LEFT || SHIELD_SF32LB52_SPLIT_TEST_RIGHT

config ZMK_SPLIT
	default y

endif